# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
.env/
sonar-ml/

# Training outputs
runs/
outputs/
*.cache

# Datasets
raw_data/
data/images/
data/labels/
data_ghostvision/images/
data_ghostvision/labels/

# Model training files & weights
weights/
models/*.pt
*.pt
*.onnx
*.safetensors
*.engine

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log